
.about{
    text-align: center;
    margin-top: 100px;
    font-family: 'Bungee', cursive;
    font-weight: bold;
}

.chef{
    height: 250px;
    margin: 25px 30px 120px 30px;
    padding: 10px;
    background-color: green;
    color: white;
}

.description{
    text-align: center;
    font-family: 'Josefin Slab', serif;
    font-weight: bold;
}

.chef-img{
    margin: 0 20px 0 20px;
}

h3{
    margin: 0 10px 0 10px;
}

h4{
    font-family: 'Montserrat Alternates', sans-serif;
}

@media (max-width:600px){
    .chef{
        height: 600px;
        margin: 25px 40px 120px 40px;
    }
}
