.menu-title{
    text-align: center;
    margin-top: 150px;
    font-family: 'Berkshire Swash', cursive;
    font-weight: bold;
}

.menu{
    margin: 5%;
}

.card-img{
    width: 286px;
    height: 250px;
    margin-right: 200px;
    box-shadow: 0 8px 6px -6px black;
}

.card-img:hover{
   width: 350px;
   height: 300px;
}

p:hover{
    letter-spacing: 1px;
}

.flex-container {
    flex-direction: row;
}

.wrap {
    flex-wrap: wrap;
}

h3{
    font-family: 'Leckerli One', cursive;
    font-weight: bold;
}

hr{
    background-color: blue;
    font-weight: 50px;
}

p{
    font-family: 'Yellowtail', cursive;
    margin-left: 1%;
    margin-top: 2%;
}


@media (max-width:600px){
    .row{
        flex-direction: column;
        margin-left: 15%;
    }
}
